<footer>
  <div class="grid-footer">
    <div class="grid-footer-logo">
      <img src="../../../../assets/images/logo-black.png" alt="" />
    </div>
    <div class="grid-footer-empty-1"></div>
    <div class="grid-footer-contatc">
      <h3 class="title-marker">CONTACT US</h3>
      <ul>
        <li>suporte@wongames.gg</li>
        <li>+55 21 33283719</li>
      </ul>
    </div>
    <div class="grid-footer-follow-us">
      <h3 class="title-marker">FOLLOW US</h3>
      <ul>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>YouTube</li>
        <li>Facebook</li>
      </ul>
    </div>
    <div class="grid-footer-links">
      <h3 class="title-marker">Links</h3>
      <ul>
        <li>Home</li>
        <li>Store</li>
        <li>Buscar</li>
      </ul>
    </div>
    <div class="grid-footer-location">
      <h3 class="title-marker">location</h3>
      <ul>
        <li>Rua 7 de Maio</li>
        <li>527 - 89020330</li>
        <li>Rio de Janeiro, Brasil</li>
      </ul>
    </div>
  </div>
  <p>Won Games 2020 © Todos os Direitos Reservados</p>
</footer>
