<!-- <p>home !</p>
<ul>
  <li *ngFor="let item of games">{{ item.title }}</li>
</ul>
<hr />
<ul>
  <li *ngFor="let item of games$ | async">{{ item.title }}</li>
</ul> -->

<main>
  <section>
    <app-slider *ngIf="slider" [data]="slider"></app-slider>
  </section>

  <!-- NEWS CAROUSEL -->
  <section>
    <div class="title">
      <h1 class="news">News</h1>
    </div>
    <app-carousel *ngIf="news" [dataGame]="news"></app-carousel>
  </section>

  <section>
    <div class="title">
      <h1 class="most-popular">Most Popular</h1>
    </div>
  </section>

</main>
