@import "../../../../styles.scss";

.h1-layout {
  width: 1042px;
  margin: 70px auto 30px auto;

  h1 {
    font-size: 2.8rem;
    margin-left: 15px;
  }

  h1:before {
    @extend %detail-before-green;
  }

  .news {
    color: #030517;
  }

  .most-popular {
    color: $color-white;
  }
}

.banner {
  @extend %banner;
}

.banner-popular {
  background: $color-gradient-banner, url('../../../../assets/images/big-banner-games/banner-red-dead.png') no-repeat;
}

.banner-upcoming {
  background: $color-gradient-banner, url('../../../../assets/images/big-banner-games/banner-borderlands.png') no-repeat;
  margin: 60px auto 30px auto;
}

.banner-content-left {
  @extend %banner-content;
  justify-items: start
}

.banner-content-right {
  @extend %banner-content;
}
