<!-- <p>home !</p>
<ul>
  <li *ngFor="let item of games">{{ item.title }}</li>
</ul>
<hr />
<ul>
  <li *ngFor="let item of games$ | async">{{ item.title }}</li>
</ul> -->

<main>
  <section>
    <app-slider *ngIf="slider" [data]="slider"></app-slider>

    <!-- <div class="flex-content">
      <div class="intro">
        <span class="bestselling">Bestselling</span>
        <img src="../../../../assets/images/banner-home.png" alt="" />
        <div class="intro-content">
          <h2>Defy death</h2>
          <p>
            Play the new
            <span>CrashLands</span>
            season
          </p>
          <div>
            <button type="button" class="button-buy" name="buy">Buy now</button>
          </div>
        </div>
      </div>
      <div class="radio-carrosel-intro">
        <input
          class="radio"
          type="radio"
          name="carrosel-intro"
          id="carrosel-intro"
        />
        <input
          class="radio"
          type="radio"
          name="carrosel-intro"
          id="carrosel-intro"
        />
        <input
          class="radio"
          type="radio"
          name="carrosel-intro"
          id="carrosel-intro"
        />
        <input
          class="radio"
          type="radio"
          name="carrosel-intro"
          id="carrosel-intro"
        />
      </div>
    </div> -->
  </section>


  <!-- CAROUSEL-COMPONENT -->
  <!-- <section>
    <app-carousel *ngIf="news" [dataGame]="news"></app-carousel>
  </section> -->

  <!-- <section>
    <div class="section-news">
      <div class="games-carousel">
        <h1 class="layout-title">News</h1>
        <ul class="games-carousel-ul">
          <li class="games-carousel-list" *ngFor="let item of games">
            <img
              class="games-carousel-list-image"
              src="assets/images/game-populationzero.png"
              alt=""
            />
            <div class="grid-content-list">
              <span class="game-name">{{ item.title }}</span>
              <div class="grid-content-info">
                <img
                  class="favorite"
                  src="assets/icons/home/favorite_border.svg"
                  alt=""
                />
              </div>
              <span class="game-producer">{{ item.author }}</span>
              <div class="flex-price">
                <span class="price">${{ item.price }},00</span>
                 <span><button class="section-button-add"><img class="image-button-add" src="assets/icons/home/add_shopping_cart.svg" alt=""></button></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
       <div class="section-arrow-next">
        <span><img src="assets/icons/home/arrow-next.svg" alt=""></span>
      </div>
    </div>
  </section> -->
</main>
