<div class="container">
  <div class="slider-buttons">
    <a *ngFor="let item of data" href="#slider-{{ item.id }}"></a>
  </div>
  <span class="bestselling">Bestselling</span>
  <div class="scroll-container">
    <div
      class="scroll-area"
      *ngFor="let item of data"
      id="slider-{{ item.id }}"
    >
      <img src="{{ item.img }}">
      <div class="scroll-area-content">
        <h2>{{ item.title }}</h2>
        <p>{{ item.subtitle }}</p>
        <div class="button-buy">
          <a class="btn-buy" href="{{ item.link }}">Buy now</a>
        </div>
      </div>
    </div>
  </div>
</div>
