<div class="container">
  <div class="scroll-conatiner">
    <div class="scroll-area"
      *ngFor="let game of dataGame"
    >
      <img src="{{ game.img }}">
      <div class="grid-scroll-area">
        <h3>{{ game.title }}</h3>
        <p>{{ game.author }}</p>
        <div class="btn-favorite">
          <button class="btn-favorite"><i class="ic ic-heart"></i></button>
        </div>
        <div class="flex-scroll-area">
          <span class="price">${{ game.amount }},00</span>
          <button class="btn-add">
            <img class="icon-cart-add" src="../../../../assets/icons/ic-cart-add.svg">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="arrow-next">
    <button>
      <img src="../../../../assets/icons/ic-arrow-dark.svg">
    </button>
  </div>
</div>
