<div class="container">
  <ul>
    <div *ngFor="let game of dataGame">
      <li *ngIf="game.type === 'news'">
        <div class="scroll-container">
          <div class="scroll-area">
            <div class="game-content">
              <img src="{{ game.img }}">
              <div class="grid-game-content">
                <span class="game-name"> {{ game.title }} </span>
                <span class="game-author"> {{ game.author }} </span>
                <div class="favorite">
                  <img src="../../../../assets/icons/ic-heart.svg">
                </div>
                <div class="flex-content">
                  <span class="price"> ${{ game.amount }},00</span>
                  <span>
                    <button class="button-add">
                      <img class="image-button-add" src="../../../../assets/icons/ic-cart-add.svg">
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </div>
  </ul>
  <div class="arrow-next">
    <span><img src="../../../../assets/icons/ic-arrow-dark.svg" alt=""></span>
</div>

