@import "../../../../styles.scss";

.container {
  margin: auto;

  ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }
}

.game-content {

  img {
    border-radius: 4px 4px 0px 0px;
    display: block;
  }

  .game-name {
    color: #030517;
    font-size: 16px;
  }

  .game-author {
    color: #BBBBBB;
    font-size: 12px;
  }
}

.grid-game-content {
  background-color: $color-white;
  border-radius: 0px 0px 4px 4px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  padding: 15px;

  .favorite {
    display: grid;
    justify-content: end;
    grid-row: 1;
    grid-column: 2;
  }

  .flex-content {
    display: flex;
    gap: 0.5rem;
    margin-top: 3px;
    place-content: end;

    .price {
      background-color: $color-green-main;
      border-radius: 2px;
      color: $color-white;
      text-align: center;
      padding: 0px 10px;
    }

    .button-add {
      background: $color-gradient-pink;
      border: none;
      border-radius: 2px;
      display: grid;
      cursor: pointer;

      .image-button-add {
        height: 25px;
        width: 28px;
        padding: 3px;
      }
    }
  }
}

