<main>
  <section class="first">
    <img class="logo1" src="../../assets/images/Logo.png" />
    <div class="parag">
      <h1 class="par-um">All your favorite games in one place</h1>
      <br />
      <h6 class="par-dois">
        <span style="color: #f231a5">HON</span> is the best and most complete
        gaming plataform
      </h6>

      <p class="footer-log">
        Won games 2022 &#169; Todos os direitos reservados
      </p>
    </div>
  </section>

  <section class="login">
    <img class="logo2" src="../../assets/images/Logo 2.png" />

    <div class="tamanho-log">
      <div class="log">
        <img class="ret" src="../../assets/images/ret.png" />
        <h3 class="sig">Sign up</h3>
      </div>
      <form class="form">
        <input type="text" id="name" name="fname" placeholder="Name" />
        <br />
        <br />
        <input type="text" id="email" name="fname" placeholder="Email" />
        <br />
        <br />
        <input type="text" id="senha" name="lname" placeholder="Password" />
        <br />
        <br />
        <input
          type="text"
          id="senha"
          name="lname"
          placeholder="Confirm Password"
        />
      </form>

      <br /><br />

      <button class="submit" form="form" style="color: black">
        <a routerLink="./signin">Sign in now</a>
      </button>

      <p class="cad">
        Already have an account?

        <a class="sign link" routerLink="/signin"> Sign-in </a>
      </p>
    </div>
  </section>
</main>
