$color-black: #030517;
$color-pink: #f231a5;
$color-orange: #f56161;
$color-white: #fafafa;
$color-background: #16193a;
$color-gray: #b5b5b5;
$color-green-main: #3cd3c1;
$color-green-dark: #35bdac;
$color-gradient-pink: linear-gradient(1.81deg, #f231a5 -33.15%, #ff66c2 64.77%);
