// colors
$color-black: #030517;
$color-pink: #f231a5;
$color-orange: #f56161;
$color-white: #fafafa;
$color-background: #16193a;
$color-gray: #b5b5b5;
$color-gray-card: #bbbbbb;
$color-gray-input: #2e2f42;
$color-green-main: #3cd3c1;
$color-green-dark: #35bdac;
// linear-gradient
$color-gradient-pink: linear-gradient(178.59deg, #FF5F5F -14.51%, #F062C0 102.86%, #F23131 102.86%);
$color-gradient-banner: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));

// detail-before
%detail-before-green {
  background: #3CD3C1;
  margin-left: -15px;
  content: "";
  display: block;
  height: 30px;
  width: 7px;
  top: 15%;
  position: absolute;
}

%banner {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
